@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 236 50% 18%;
    --foreground: 210 20% 98%;
    --card: 236 50% 22%;
    --card-foreground: 210 20% 98%;
    --popover: 236 50% 18%;
    --popover-foreground: 210 20% 98%;
    --primary: 221 83.2% 53.3%;
    --primary-foreground: 210 20% 98%;
    --secondary: 236 50% 30%;
    --secondary-foreground: 210 20% 98%;
    --muted: 236 50% 30%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 236 50% 30%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 236 50% 30%;
    --input: 210 20% 98%;
    --ring: 221 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 275 80% 60%;
    --sidebar-primary-foreground: 275 100% 10%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 275 80% 65%;
  }
 
  .dark {
    --background: 236 50% 18%;
    --foreground: 210 20% 98%;
    --card: 236 50% 22%;
    --card-foreground: 210 20% 98%;
    --popover: 236 50% 18%;
    --popover-foreground: 210 20% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 236 50% 30%;
    --secondary-foreground: 210 20% 98%;
    --muted: 236 50% 30%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 236 50% 30%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 236 50% 30%;
    --input: 210 20% 98%;
    --ring: 217.2 91.2% 59.8%;

    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 275 80% 60%;
    --sidebar-primary-foreground: 275 100% 10%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 275 80% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
